<!-- Main container -->
<div class="container-fluid" id="mainContainer">
    <div class='row'>
      {% include 'ILPBootstrapThemeBundle:Default:components.html.twig' %}
      {% include 'ILPBootstrapThemeBundle:Default:editor.html.twig' %}
    </div>
</div> <!-- Main container -->